annotated-types==0.7.0
cachetools==5.4.0
certifi==2023.11.17
charset-normalizer==3.3.2
clipboard==0.0.4
et-xmlfile==1.1.0
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.140.0
google-auth==2.33.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
googleapis-common-protos==1.63.2
grpcio==1.65.4
grpcio-status==1.62.3
httplib2==0.22.0
idna==3.6
numpy==1.26.3
openpyxl==3.1.5
pandas==2.1.4
proto-plus==1.24.0
protobuf==4.25.4
pyasn1==0.6.0
pyasn1_modules==0.4.0
pydantic==2.8.2
pydantic_core==2.20.1
pyparsing==3.1.2
pyperclip==1.8.2
pyTelegramBotAPI==4.22.0
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3.post1
requests==2.31.0
rsa==4.9
six==1.16.0
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2023.4
uritemplate==4.1.1
urllib3==2.1.0
